/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* estilo.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; 
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 30px;
}

/* --- ESTILO DA KPI --- */
.kpi-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.kpi-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    text-align: center;
    min-width: 250px;
}

.kpi-nome {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.kpi-valor {
    font-size: 3em;
    font-weight: 900;
    color: goldenrod;
}
