body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

.container .barra-paginas {
  color: black;
  width: fit-content;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto{
  display: flex;
  flex-direction: column;
  align-items: center;


}

.texto img{
  display: flex;
  width: 50%;

}

.texto p{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-content: center;
}
