@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.login {
position: relative;
    /* Garante que o fundo cubra a tela, ajuste conforme seu layout */
    min-height: 100vh; 
    overflow: hidden; 
}

.login::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 95%;
    
    /* 3. Coloque a imagem AQUI */
    background-image: url('../assets/imgs/campo-santos.png'); /* SEU CAMINHO AQUI */
    background-size: cover;
    background-position: center;
    
    /* 4. Aplique o filtro de blur AQUI */
    filter: blur(8px); /* Ajuste o valor: 5px (pouco), 10px (médio), 20px (muito) */
    
    /* 5. Um truque para evitar bordas brancas estranhas causadas pelo blur */
    transform: scale(1.1); 
    
    /* 6. Envia essa camada para trás de tudo */
    z-index: -1;
}

.login .container{
    justify-content: right;
  }
  
  .container {
    display: flex;
    width: 80%;
    margin: auto;
    /* backdrop-filter: blur(10px);  desfocar imagem do fundo*/
    
  }
  
  .header {
    height: var(--tamanho-header);
    border-bottom: 2px solid;
    background-color: white ;
  }
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .container img {
  align-items: start;
  height: 100%;
}

.card {
  width: 50%;
  background-color: rgba(245, 245, 245, 0.50);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color:black;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 17px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid goldenrod;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid goldenrod;
  background-color: white;
  color: black;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;

}


.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: black;
  background-color: goldenrod;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}



.footer {
  background-color: black;
  height: 100px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}